@import 'normalize'
@import '_vars'
@import 'jeet'
@import 'rupture'
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4 ,h5, h6
	margin 0
	padding 0

body
	font-family lato
	background white
	color #fff
	-webkit-font-smoothing antialiased

ul,li
	list-style none
	margin 0

.header-top
	min-height 100px
	padding-top 3%
	margin-bottom 2%
	margin-right auto
	margin-left auto

.logo-nav-wrap
	center(1000px)

.navigation
	background #fff
	col(1/2.5)
	float right
	// padding-top 3%

.nav-list
	margin-top 3%

.nav-list-child > a
	text-decoration none
	background button-colour
	padding 10px
	border-bottom 4px solid button-shadow
	color #fff
	border-radius 2px

.nav-list-child
	display inline  // gives space automatically
	// float left doesn't give space
.nav-list-mobile 
	display none
	float right
	margin 2.6rem 4rem
	cursor pointer
	border 1px solid #d0d0d0
	border-radius 3px 3px 3px 3px
	cursor pointer
	height 45px
	position relative
	width 40px
	background #ddd
	&:hover
		background #ccc
	div
		background-color #999
		border-radius 2px 2px 2px 2px
		height 4px
		margin 0.5rem 0
		width 70%
		margin-left auto
		margin-right auto

.logo-container
	background #fff
	col(1/3)
	text-align center

.feature-container
	background body-colour
	height 500px

.map-container
	background secondary-colour
	overflow hidden
	text-align center
	padding 2%

.map-wrap
	min-width 300px

.map-wrap-address
	font-size 1.5rem


.map
	width 100%
	padding 2%
	height 400px
	overflow hidden

.footer-container
	background brown

.footer-container-social
	text-align center

.footer-contact-list
	padding 2%
	color #fff
.footer-contact-list-child
	a
		color #fff
@media screen and (max-width:800px)
	.nav-list
		display none
		width 100%
		position absolute
		margin-top 0
		padding 0
		top 7.2rem
		left 0
	.nav-list-mobile
		display block
	.nav-list-child
		width 24.41111%
		display inline-block
	.nav-list-child > a
		display block
		width 100%

		

// // .front, .back
// // 	position absolute
// // 	margin 3rem
// // 	padding 4rem 2rem
// // 	top 50%
// // 	left 57%
// // 	width 100%
// // 	// transform translate(-50%, -50%)
// // 	-webkit-backface-visibility hidden
// // 	-webkit-transition 1s all
// // 	&:hover
// // 		box-shadow 1px 12px 30px -4px #000
// // 		background box-colour

// // 	@media screen and (max-width: 700px)

// // .back
// // 	background body-colour
// // 	transform rotateY(-180deg)


// // // .container:hover .front
// // // 	transform rotateY(-180deg)

// // // .container:hover .back
// // // 	transform rotateY(0)

